.footer {
    box-sizing: border-box;
    background: #f8f8f8;
    width: 100%;
    padding: 1.5rem 2rem;
    text-align: center;
    color: #333;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

.footer a {
    color: #ffb6c1;
    text-decoration: underline;
    transition: 0.2s ease;
}

.footer a:hover {
    color: #f892fa;
}