/* Header.css */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    position: sticky;
    top: 0;
    z-index: 1000;

}

.logo {
    color: #1f2937;
    font-size: 1.6rem;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
    align-items: center;
}

/* Länkar */
header a {
    text-decoration: none;
    color: #4b5563;
    font-weight: 500;
    transition: 0.2s ease;
    position: relative;
}

/* Hover-effekt */
header a:hover {
    color: #0bc17e;
}

/* Aktiv länk */
header a.active {
    color: #f472b6;
}

/* Loggga ut knapp */
header button {
    background: linear-gradient(135deg, #f9a8d4, #f472b6);
    border: none;
    color: white;
    padding: 8px 16px;
    border-radius: 999px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.2s ease;
}

header button:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 15px rgba(244, 114, 182, 0.3);
}